body {
    background-color: #2b4257;
}

p-text {
    color: #e97025;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.sporterGegevens {
    color: #e97025;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

